<!--
<div class="flex flex-col items-center justify-center h-screen space-y-4">
    <h1 class="text-2xl font-bold">Login as:</h1>
    <button class="bg-blue-600 text-white px-6 py-2 rounded" (click)="loginAs('admin')">
      Admin
    </button>
    <button class="bg-green-600 text-white px-6 py-2 rounded" (click)="loginAs('employee')">
      Employee
    </button>
  </div>

  <h2>Select User</h2>
<div *ngFor="let user of mockUsers">
  <button class="btn" (click)="loginAs(user)">
    Login as {{ user.name }} ({{ user.role }})
  </button>
</div>
-->
<div class="min-h-screen flex flex-col items-center justify-center">
  <h1 class="text-2xl font-bold mb-4">Employee Login</h1>

  <form class="space-y-4 w-full max-w-sm" (ngSubmit)="login()">
    <input
      class="w-full border p-2 rounded"
      type="email"
      placeholder="Enter your email"
      [(ngModel)]="email"
      name="email"
      required
    />

    <button class="w-full bg-blue-600 text-white py-2 rounded" type="submit">
      Login
    </button>

    <p *ngIf="error" class="text-red-500">{{ error }}</p>
  </form>
</div>
